# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
media/
staticfiles/
local_settings.py

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System / Misc
.DS_Store
Thumbs.db

# Personal notes
docs/
