<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Your Review</title>
     </head>
     <body>
		<form action="/" method="POST">
            {% csrf_token %}
            {# Apply "error" class when the user_name field has validation errors #}
            <div class="form-control {% if form.user_name.errors %}error{% endif %}">
                {{ form.user_name.label_tag }}
			    {{ form.user_name }}
			    {{ form.user_name.errors }}
            </div>
			<button type="submit">Send</button>
		</form>		
     </body>
</html>